<div class="popular_property plus_padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        {% if no_of_results %}
          <div class="section_title mb-40 text-center">
            <h4>{{ no_of_results }}</h4>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="row">
      {{ no_results_found }}

      {{ search_help }}

      {% if results %}
        {% for property in results %}
          <div class="col-xl-4 col-md-6 col-lg-4">
            {{ property }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="more_property_btn text-center">
          <a class="boxed-btn3-line" href="#">More Properties</a>
        </div>
      </div>
    </div>
  </div>
</div>
