<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="testmonial_active owl-carousel owl-loaded owl-drag">
        {% for row in rows %}
          {{ row }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
