<div{{ attributes.addClass('team_area') }}>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title mb-40 text-center">
          <h3>
            {{ elements.field_header_title }}
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      {{ elements.field_featured_agents }}
    </div>
  </div>
</div>
