<div{{ attributes.addClass('single_team') }}>
  <div class="team_thumb">
    {{ elements.field_profile_image }}
    <div class="social_link">
      <ul>
        <li>
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="team_info text-center">
    <h3>{{ elements.field_name }}</h3>
    <p>{{ elements.field_agent_title }}</p>
  </div>
</div>
