<div class="contact_action_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-7">
        <div class="action_heading">
          <h3>
            {{ elements.content.field_banner_text }}
          </h3>
        </div>
      </div>
      <div class="col-xl-5">
        <div class="call_add_action">
          {{ elements.content.field_contact_number }}
          &nbsp;
          <a class="boxed-btn3-line" href="#">
            Add Property
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
