<div{{ attributes.addClass('popular_property') }}>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title mb-40 text-center">
          <h3{{ title_attributes }}> {{ label }} </h3>
        </div>
      </div>
    </div>
    <div class="row">
      {% for property_row in elements.content.view_build['#rows'] %}
        {% for property in property_row['#rows'] %}
          <div class="col-xl-4 col-md-6 col-lg-4">
            {{ property }}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="more_property_btn text-center">
          <a class="boxed-btn3-line" href="#">More Properties</a>
        </div>
      </div>
    </div>
  </div>
</div>
