{#
/**
 * @file
 * Bartik's theme implementation to display a header region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div{{ attributes.addClass('header-area') }}>
    <div class="main-header-area" id="sticky-header">
      <div class="container">
        <div class="header_bottom_border">
          <div class="row align-items-center">
            <div class="col-xl-3 col-lg-2">
              {{ elements.drupal_realestate_branding }}
            </div>
            <div class="col-xl-6 col-lg-7">
              {{ elements.drupal_realestate_main_menu }}
            </div>
            <div class="col-xl-3 col-lg-2 d-none d-lg-block"></div>
            <div class="col-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
